/* CSS VARIABLES */
:root {
  --background-primary: #f3f3f3;
  --background-secondary: #cdddda;
  --text: #1f2403;
}

/* ZÁKLADNÍ STYLY */
*,
body,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: 'Alegreya Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: baseline;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.3;
}

span {
  line-height: 1.5;
}

/* HLAVIČKA - NAVIGACE */
.page-header {
  padding: 1.5rem;
  padding-bottom: 0;
  background-color: var(--background-secondary);
}

.logo {
  font-size: 1.5rem;
  font-family:'Lora', serif ;
  text-align: center;
  background-color: var(--background-secondary);
}

.navlink {
  text-decoration: none;
  margin-right: 0.5rem;
}

/* HLAVNÍ NADPIS */
.pitch {
  padding: 2.5rem 1.5rem;
  font-size: 2.5rem;
  background-color: var(--background-secondary);
}

/* ÚVODNÍ TEXT */
.subheading {
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  background-color: var(--background-primary);
}

.subheading__content {
  margin: 0 auto;
  background-color: var(--background-primary);
}

/* CENOVÁ NABÍDKA */
.pricelist {
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  background-color: var(--background-secondary);
}

.pricelist__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text);
  background-color: var(--background-secondary);
}

.pricelist__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-secondary);
}

.offer {
  margin: 1rem 0 2rem 0;
  background-color: var(--background-secondary);
}

.offer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);
  margin-bottom: 0.5rem;
}

.offer__title {
  font-size: 1.7rem;
  background-color: var(--background-secondary);
}

.offer__price {
  font-size: 1.5rem;
  background-color: var(--background-secondary);
}

.offer__detail {
  font-size: 1.2rem;
  list-style: circle;
  margin-left: 1.2rem;
  background-color: var(--background-secondary);
}

/* RECENZE */
.review {
  padding: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
}

.review__title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  background-color: var(--background-primary);
}

.review__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
}

.review__text {
  padding: 2rem;
  font-size: 1.3rem;
  font-style: oblique;
  border: none;
  background-color: var(--background-primary);
}

.review__author {
  text-align: end;
  font-style: normal;
  background-color: transparent;
}
/* PATIČKA - KONTAKT */
.footer {
  padding: 2.5rem 1.5rem;
  font-size: 1.2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
}

.contact__row span {
  display: inline-block;
  height: 1.2rem;
  color: var(--text);
  background-color: var(--background-secondary);
}

.contact__label {
  width: 70px;
  color: var(--text);
  background-color: var(--background-secondary);
  
}

.social-media__row {
  display: flex;
  align-items: center;
  background-color: var(--background-secondary);
}

.icon {
  height: 100%;
  margin-right: 0.5rem;
  background-color: var(--background-secondary);
}

/* ÚVODNÍ OBRÁZEK */
.intro-image {
  background-image: url("images/arnica-intro.jpg");
  height: 70vh;
  background-size: cover;
  background-position: center;
}

/* --- STYL PRO ŠÍŘKU NAD 840PX --- */
@media (min-width: 840px) {
  /* HLAVIČKA - NAVIGACE */
  .page-header {
    padding: 2rem 4rem;
    padding-bottom: 0;
  }

  .logo {
    font-size: 2.25rem;
    font-family:'Dawning of a New Day', cursive;
  }

  .navlink {
    font-size: 1.5rem;
  }

  /* HLAVNÍ NADPIS */
  .pitch {
    font-size: 3rem;
  }

  /* ÚVODNÍ TEXT */
  .subheading {
    padding: 2.5rem 4rem;
    font-size: 1.75rem;
  }

  /* CENOVÉ NABÍDKY - vedle sebe, vertikálně zarovnané, mezera 3rem */
  .pricelist__content {
    flex-direction: row;
    gap: 3rem;
  }

  .offer {
    width: 220px;
  }

  /* RECENZE - nové styly pro desktop */
  .review__text {
    border: none;
    background-color: var(--background-secondary);
    width: 250px;
    position: relative;
    left: 60px;
  }

  .review__photo {
    width: 300px;
    height: 400px;
    background-image: url("images/reviewer.jpg");
    background-size: cover;
    background-position: center;
  }

  /* PATIČKA - nové styly pro desktop */
  .footer {
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
   align-items: center;
   justify-content: center;
  }
}

/* --- STYL PRO ŠÍŘKU NAD 1200PX --- */
@media (min-width: 1200px) {
  .pricelist__content {
    gap: 6rem;
  }

  .footer {
    gap: 6rem;
  }
}